# Raspberry Pi specific
# Note: These packages might need to be installed via apt instead of pip
# sudo apt-get install python3-picamera2 python3-rpi.gpio python3-gpiozero
# Also make sure to hve Python 3.10 or higher installed on your RPi, see docs for installation on Rpi zero 2w.

# Include only if you want to install via pip (may not work for all packages on RPi)
picamera2>=0.3.9; platform_machine == 'armv7l' or platform_machine == 'aarch64'
RPi.GPIO>=0.7.0; platform_machine == 'armv7l' or platform_machine == 'aarch64'
gpiozero>=1.6.2; platform_machine == 'armv7l' or platform_machine == 'aarch64'

# Regular dependencies that work on RPi
numpy>=1.23.5,<1.24.0